page-login {
  /*.vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }*/

  /* .Background {
     background: rgba(0, 0, 0, 0.5) url(../../assets/imgs/background.jpg) no-repeat;
     background-size:cover;
   }*/

}
