<!--
  Generated template for the SubproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hidden]="fullscreen">
    <ion-title>{{selectedSubProduct?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [style.background-color]="bColor">
  <ion-item *ngIf="!fullscreen">
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" (ionChange)="onDateChange()"></ion-datetime>
  </ion-item>

  <!-- <ion-item *ngIf="isTimeValuesFilled">
     <ion-label>Heure</ion-label>
     <ion-datetime displayFormat="HH:mm" [(ngModel)]="myTime"
                    min="2018-09-18T06:00:00+00:00" max="2018-09-18T17:59:00+00:00" (ionChange)="onTimeChange(myTime)"></ion-datetime>
   </ion-item>

   <ion-item>
     <ion-range min="{{startTime}}" max="{{endTime}}" step="15" pin="true" [(ngModel)]="saturation" color="primary">
       <ion-label range-left>-200</ion-label>
       <ion-label range-right>200</ion-label>
     </ion-range>
   </ion-item>-->
  <ion-item *ngIf="isTimeValuesFilled && !fullscreen">
    <ion-label>Heure</ion-label>
    <ion-select [(ngModel)]="myTime" interface="popover" (ionChange)="onTimeChange(myTime)">
      <ion-option *ngFor="let imgTime of imgsTimes" value="{{imgTime}}">{{imgTime}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-slides zoom>
    <ion-slide style="/*display: flow-root !important;*/">
      <div class="swiper-zoom-container" style="margin-top: 0;">

        <img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">
      </div>
      <!--<img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">-->
    </ion-slide>
    <ion-slide style="/*display: flow-root !important;*/">
      <div class="swiper-zoom-container" style="margin-top: 0;">

        <img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">
      </div>
      <!--<img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">-->
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-slides zoom *ngIf="fullscreen">
  <ion-slide style="/*display: flow-root !important;*/">
    <div class="swiper-zoom-container" style="margin-top: 0;">

      <img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">
    </div>
    <!--<img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">-->
  </ion-slide>
  <ion-slide style="/*display: flow-root !important;*/">
    <div class="swiper-zoom-container" style="margin-top: 0;">

      <img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">
    </div>
    <!--<img src="http://img.dmnstage.com/teledetection/satellitestandard/canalir/20180731/0030.jpg">-->
  </ion-slide>
</ion-slides>
<ion-footer>
  <ion-toolbar position="bottom" class="fullscreenbtn" color="{{fullscreen?'dark':'light'}}">
    <button ion-button round outline color="primary" (click)="toogleFullscreen()">
      <ion-icon name="log-out"></ion-icon>&nbsp;{{(fullscreen)?"Réduire":"Agrandir"}}
    </button>
  </ion-toolbar>
</ion-footer>
