<!--
  Generated template for the SubproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hidden]="fullscreen">
    <ion-title>{{selectedSubProduct?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="ioncontent" [style.background-color]="bColor">

  <ion-card *ngIf="!fullscreen">
    <ion-card-content>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [max]="myDate" [(ngModel)]="myDate"
                      (ionChange)="onDateChange()"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="isTimeValuesFilled">
        <ion-label>Heure</ion-label>
        <ion-select [(ngModel)]="myTime" interface="popover" (ionChange)="onTimeChange()" [disabled]="!areImgsReady">
          <ion-option *ngFor="let imgTime of imgsTimes" value="{{imgTime}}">{{imgTime}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!fullscreen && areImgsReady">
    <ion-card-content style="padding: 0;">
      <ion-slides effect="fade" (ionSlideDidChange)="onSlideChange()" *ngIf="!fullscreen" zoom
                  class="myNormalion-slides"
                  [initialSlide]="imgsTimes.indexOf(myTime)">
        <ion-slide *ngFor="let img of imgs" style="display: flow-root !important;padding-top: 25px;">
          <div class="swiper-zoom-container">
            <!--<img src="{{img}}">-->
            <img-loader src="{{img}}" useImg fallbackUrl="assets/imgs/fallbackimg.jpg"></img-loader>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!areImgsReady">
    <ion-card-content style="padding: 0;">

      <img src="assets/imgs/fallbackimg.jpg" useImg>

    </ion-card-content>
  </ion-card>


  <ion-fab bottom right>
    <button ion-fab round outline color="primary" (click)="toogleFullscreen()">
      <ion-icon name="{{fullscreen?'contract':'expand'}}"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-slides effect="fade" (ionSlideDidChange)="onSlideChange()" *ngIf="fullscreen" zoom
            [initialSlide]="imgsTimes.indexOf(myTime)">
  <ion-slide *ngFor="let img of imgs">
    <div class="swiper-zoom-container">
      <img-loader src="{{img}}" useImg fallbackUrl="assets/imgs/fallbackimg.jpg"></img-loader>
    </div>
  </ion-slide>
</ion-slides>

<ion-footer>
  <ion-toolbar position="bottom" class="fullscreenbtn" color="{{fullscreen?'dark':'light'}}">
    <button ion-button round icon-start (click)="onPreviousBtn()" [disabled]="!areImgsReady">
      <ion-icon name="skip-backward"></ion-icon>
      Pré
    </button>
    <button ion-button round icon-start (click)="onPlayBtn()" [disabled]="!areImgsReady">
      <ion-icon name="{{(slides?._autoplaying)?'pause':'play'}}"></ion-icon>
      {{(slides?._autoplaying)?'Pause':'Play'}}
    </button>
    <button ion-button round icon-end (click)="onNextBtn()" [disabled]="!areImgsReady">
      Suiv
      <ion-icon name="skip-forward"></ion-icon>
    </button>
    <!--<button ion-button outline color="primary" (click)="next()">
      <ion-icon name="expand"></ion-icon>&nbsp;next
    </button>-->
  </ion-toolbar>
</ion-footer>
