<ion-menu [content]="content">


  <ion-content class="menu-content">
    <div class="cover header-md mask" margin-bottom>
      <img src="../assets/imgs/cover_menu_header.jpg" alt="menu-header">
      <div class="avatar">
        <img src="../assets/imgs/img_avatar.png">
        <p>{{currentUser}}</p>
      </div>
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar position="bottom" class="logoutbtn">
      <button ion-button round (click)="contact()">
        <ion-icon name="mail"></ion-icon>&nbsp;Contactez nous
      </button>
      <button ion-button round outline color="danger" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>&nbsp;Se déconnecter
      </button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!--
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

&lt;!&ndash; Disable swipe-to-go-back because it's poor UX to combine STGB with side menus &ndash;&gt;
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>-->
